[flake8]
exclude =
    .git,
    __pycache__,
    .tox,
    venv,
    .build,
    *.egg_info,
    *.egg,
    .eggs
    .pytest_cache,
    report
max-line-length = 120
max-complexity = 10
# TODO: Remove D10X when docstrings implemented
ignore = C901,D103,D100,D101,D102,D107,D104
